<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>techservit</title>
    <link rel="stylesheet" href="/style.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/marked/marked.min.js">
    </script>
  </head>
  <body>
    <%- include('../public/partials/header.ejs') %>
    <div class="container">
      <div class="viewBlog-header">
        <h1 class="title text-left"><%=  %></h1>
      </div>
      <div class="overflow-div">

        <% if(blogDetails) {%>
        <p><% blogDetails %></p>
        <% } else if( posts ) {%>
        <!-- <p>Posts work</p> -->
        <!-- <p><%= posts%></p> -->
        <h2><%= posts[0].articleTitle%></h2>
        <h4>written by: <%= posts[0].author%></h4>
        <h5>written on: <%= posts[0].dateCreated%></h5>
        <p id="aContent"><%= posts[0].articleContent%></p>
        <h6>source: <%= posts[0].source %></h6>
        <p  id="bContent"></p>
        <%  } else {%>
        <p>Nope</p>
        <%}%>
      </div>
    </div>
    <script type="module" src="/public/display.js">
      
    </script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/marked/marked.min.js">
    </script>

    <%- include('../public/partials/footer.ejs') %>
  </body>
</html>
